<header>
<mat-toolbar class="header">

    <span class="logo">JAY PATEL </span> <mat-icon [ngStyle]="{'font-size':'22px'}">verified</mat-icon>
      
      <div class="spacer"></div>

      <mat-toolbar class="navbar">
        <div class="spacer"></div>
        
        <a href="#">Home</a>
        
        <a href="#service">Services</a>
        
        <a href="#languge">Languges</a>
        
        <a href="#about">About Me</a>
      </mat-toolbar>
</mat-toolbar> 

  <div class="content" role="main">

    <div class="highlight-card card-small">
      <span> Hello , <br> I am JAY PATEL </span>
      <hr>
      <button>Just it Demo</button>
    </div>

  </div>

</header>
