 <footer id="about"> 
   <h1>ABOUT </h1>
   <div class="main-content">
    <div class="left">
      <h2>ME</h2>
      <div class="content">
        <div class="class">
          <span> Qualification : BCA </span><br>
          <span> Passing Year : 2021 </span><br>
          <span> Went to Gujarat University </span><br>
        </div>
      </div>
    </div>
    <br>
    <div class="center">
      <h2>GET IN TOUCH</h2>
      <div class="content">
        <div class="place">
          <span class="text">AHmedabad, Gujarat</span>
        </div>
        <div class="phone">
          <span class="text">+91 8460006617</span>
        </div>
        <div class="email">
          <span class="text">jaybaldha2931@gmail.com</span>
        </div>
      </div>
    </div>
    <br>
    <p>COPYRIGHTS &copy; 2020-2021 ALL RIGHTS RESERVED</p>
   </div>
 </footer>
  
