<section id="languge">

    <h1> Konw Languges </h1>
    <h4> Knowledge of Languges and Framework : </h4>
    <br>
    <ul>
        <li>
            <h3>HTML</h3><span class="bar"><span class="html"></span></span>
            <span class="pr-ht">90%</span>
        </li>
        <li>
            <h3>CSS</h3><span class="bar"><span class="css"></span></span>
            <span class="pr-css">82%</span>
        </li>
        <li>
            <h3>JS & JQUERY</h3><span class="bar"><span class="js"></span></span>
            <span class="pr-js">62%</span>
        </li>
        <li>
            <h3>ANGULAR 7+</h3><span class="bar"><span class="angular"></span></span>
            <span class="pr-ng">78%</span>
        </li>
        <li>
            <h3>ASP.NET</h3><span class="bar"><span class="asp"></span></span>
            <span class="pr-asp">70%</span>
        </li>
        <li>
            <h3>C# OOP</h3><span class="bar"><span class="co"></span></span>
            <span class="pr-co">86%</span>
        </li>
        <li>
            <h3>WEB+API</h3><span class="bar"><span class="api"></span></span>
            <span class="pr-api">65%</span>
        </li>
        <li>
            <h3>SQL</h3><span class="bar"><span class="sql"></span></span>
            <span class="pr-sql">50%</span>
        </li>
    </ul>

</section>