
<section id="service">

  <h1>What I Do </h1>
    
    <h4>I am a FRESHER </h4>

    <div class="container-fluid">
    
      <div class="row">
        <div class="card col-lg-3 col-md-6 col-sm-12">
          
          <mat-icon>laptop_chromebook</mat-icon>
          <h3>Web Design & Devlopment</h3>
          <p>
            I am a fresher for web developers for the development and customization of 
            various types of business-oriented websites like CMS Website Development, Real Estate 
            Websites, Online shopping, Hospital, Hotel, Restaurant & Online Reservation websites etc. 
            to fulfill your business needs.
          </p>

        </div>  

        <div class="card col-lg-3 col-md-6 col-sm-12">

          <mat-icon>desktop_windows</mat-icon>
          <h3>Desktop Application</h3>
          <p>
            I am a fresher of desktop developers to provide highly functional, effective and impactful desktop applications
            for a variety of purposes.
          </p>

        </div> 

        <div class="card col-lg-3 col-md-6 col-sm-12">

          <mat-icon>phone_iphone</mat-icon>
          <h3>IOS & Android</h3>
          <p>
            I am a fresher for designing and development of powerful & responsive mobile applications We offer robust mobile 
            app development services for business & education apps, health fitness & lifestyle apps, news,
            media & entertainment apps, and many more.
          </p>

        </div> 

        <div class="card col-lg-3 col-md-6 col-sm-12">

          <mat-icon>phonelink</mat-icon>
          <h3>Single Page Application</h3>
          <p>
            In the field of Static Website, Logo Designing, Mobile Responsive UI designing, 
            Custom Layout Design, Full Responsive Website and Make a Single Page Application(SPA) etc.
          </p>
        </div> 

      </div>

    </div>

</section>